
/* Body style to center questions*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-color: skyblue;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    margin: 10px 0 10px 0 ;
    
    
}
button {
    background-color: brown;
    border-radius: 5px;
    padding: 3.5px 10px;
}

button:hover {
    background-color: grey;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10000vh;
    border-radius: 5px;
}

.hide {
    display: none;
    
}

#score-btn {
    width: 20vw;
    height: 3vw;
}

#start-btn {
    margin-left: 1vw;
    width: 18vw;
    height: 3vw;
}

#scoreboard {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#back-btn {
    background-color: black;
    margin-top: .3vw;
    position: absolute;
    margin-left: 180px;
}

#response {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#inputboard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

